[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/R-Vim-runtime"]
	path = bundle/R-Vim-runtime
	url = https://github.com/jalvesaq/R-Vim-runtime.git
[submodule "bundle/fugitiv"]
	path = bundle/fugitiv
	url = https://github.com/tpope/vim-fugitive.git
